<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MovieAI | Movie Recommendation System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<header>

    <nav class="navbar">

        <div class="logo">
            🎬 MovieAI
        </div>

        <ul class="nav-links">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>

            

            <li>
                <a href="/contact">Contact</a>
            </li>

        </ul>

    </nav>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<footer>

    <div class="footer-content">

        <h3>🎬 MovieAI</h3>

        <p>
            AI Powered Movie Recommendation System
        </p>

        <p>
            Developed by <strong>Vishnu Kumar Reddy</strong>
        </p>

        <div class="social">

            <a href="#">
                <i class="fab fa-github"></i>
            </a>

            <a href="#">
                <i class="fab fa-linkedin"></i>
            </a>

        </div>

        <p class="copyright">

            © 2026 MovieAI. All Rights Reserved.

        </p>

    </div>

</footer>

</body>

</html>